body {
	background-color: #eee;
	color: #222;
	font-size: 1.2em;
}
header {
	position: absolute;
}
p, blockquote {
	max-width: 38em;
	padding: 2em;
}

.full-page-bg {
	background-size: cover;
	/* FIXME replace w/ image */
	filter: saturate(0.4);
	justify-content: center;
	height: 100vh;
	max-width: 100%;
	width: 100vw;
}
.landing-section {
	align-items: center;
  background: url(https://images.unsplash.com/photo-1498745289750-175b844dce53) no-repeat center center fixed;
	display: flex;
}
.landing-section h1 {
  margin-top: 0;
}

.intro-quotes-section {
	background: url(https://images.unsplash.com/photo-1498745289750-175b844dce53) no-repeat center center fixed;
}

.hero-text {
	color: #eee;
	font-size: 3em;
	font-variant: small-caps;
}
