body {
	background-color: #eee;
	color: #222;
	font-size: 1.35em;
}
body, cite {
	font-family: "Lucida Bright", serif;
}

body a {
	color: #eee;
}
body a:visited {
	color: #bbb;
}
nav a:visited {
	color: #eee;
}

header, footer {
	box-sizing: border-box;
	display: flex;
	max-width: 100%;
	width: 100vw;
}
header {
	padding: 1em;
	position: absolute;
	z-index: 1;
}
header a {
	text-decoration: none;
}
header nav a {
	margin-left: 2em;
	padding: 0.4em;
}
header .logo, footer > nav {
	margin-right: auto;
}

p, blockquote {
	max-width: 59ch;
}
p:last-child {
	margin-bottom: 2.8em;
}
blockquote {
	font-family: "Courier New", "Open Sans", sans-serif;
}
blockquote { padding: 2em; }
blockquote cite {
	float: right;
	padding-top: 1em;
}
blockquote cite::before {
	content: '— ';
}

.logo {
	font-family: Copperplate, sans-serif;
	font-size: 2em;
	text-decoration: none;
}

.landing-section, .intro-quotes-section,
section:nth-child(4), section:nth-child(5),
section:nth-child(6), section:nth-child(7),
section:nth-child(8), section:nth-child(9), .outro {
	align-items: center;
	color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.landing-section {
  background: url(https://images.unsplash.com/photo-1498745289750-175b844dce53) no-repeat center center fixed;
}
.landing-section h1 {
  margin-top: 0;
}
.intro-quotes-section, section:nth-child(5), section:nth-child(7), section:nth-child(9) {
	/* background: #6d6565; */
	background: #776363;
}
section:nth-child(4) {
	background: url(https://images.unsplash.com/photo-1417577097439-425fb7dec05e) no-repeat center center fixed;
}
section:nth-child(6), section:nth-child(8) {
	color: #222;
}
section:nth-child(8) {
	text-align: center;
}
.outro {
	background: url(./imgs/outro.jpg) no-repeat center center fixed;
}

.full-page-bg {
	background-size: cover !important;
	/* FIXME replace w/ image */
	filter: saturate(0.4);
	max-width: 100%;
	min-height: 100vh;
}

.hero-title {
	font-family: "Open Sans", sans-serif;
	font-size: 2em;
}
.hero-text {
	font-family: Copperplate, "Open Sans", sans-serif;
	font-size: 1.8em;
	/* FIXME: may be redundant */
	font-weight: 100;
	white-space: pre-line;
}

.social-link {
	padding: 5px;
}
.social-link svg {
	height: 1em;
	width: 1em;
}

footer {
	padding: 2em 1em;
}
footer a, footer a:visited {
	color: #222;
}
